<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mj.gpsclient">
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme3">

        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="QgxhbSPy635NmYNfGKUOyNUHBsPoojaP" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.MoreSet"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.NewMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DevicesTrackingActivity"
            android:label="@string/title_activity_devices_tracking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DevicesTrackActivity"
            android:label="@string/title_activity_devices_track"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DownOffPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ResetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FollowingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MoreMapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OneOfMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
            　
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".Activity.MainTrackTabActivity" />
        <activity android:name=".Activity.FollowingAllTimeActivity" />
        <activity android:name=".Activity.TrackHisPlayActivity" />
        <activity
            android:name=".Activity.NavigationActivity"
            android:label="@string/title_activity_navigation">

        </activity>
    </application>

</manifest>